html {
    text-align: center;
}

.form-row {
    display: inline-block;
    margin-bottom: 20px;
}

.label-text {
    display: block;
}

.error-text {
    color: red;
}

.description {
    resize: vertical;
}

.single-button {
    display: block;
    margin: auto;
}

.listing-form {
    text-align: center;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}